#dashboard-background {
  background: linear-gradient(
    180deg,
    #fbda74 0%,
    #fcf6ce 25rem,
    #fcf6ce 91%,
    #9aecc5 100%
  );
}

.dashboard-content {
  width: 50%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-user-profile {
  padding: 2rem 3rem;
  width: 100%;
  border: 3px solid var(--main-color);
  background: var(--dashboard-color);
  box-shadow: 2.5px 2.5px 0px 0px var(--main-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.dashboard-user-avatar {
  margin: 0 auto;
  width: 40%;
}

.dashboard-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.dashboard-user-name {
  font-size: 2rem;
}

.dashboard-user-role {
  border-radius: 32px;
  background: #f6c01c;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.dashboard-user-introduction {
  font-size: 1.2rem;
  font-weight: 500;
}

.all-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-icon {
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  border: 3px solid var(--main-color);
  background: var(--dashboard-color);
  box-shadow: 2.5px 2.5px 0px 0px var(--main-color);
}

.clicked-services-icon {
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  border: 3px solid var(--main-color);
  background: var(--student-role-color);
  box-shadow: 2.5px 2.5px 0px 0px var(--main-color);
}

.services-name {
  cursor: pointer;
  margin-top: 0.5rem;
}

.community {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.community-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
