.landing-content {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-title {
  font-size: 3rem;
  margin: 3rem auto;
}

.coffee-animation {
  width: auto;
  height: 100%;
  margin-bottom: 2rem;
}

.landing-slogan {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.landing-button {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.login-button,
.signup-button {
  cursor: pointer;

  padding: 1rem 2rem;

  border: 3px solid var(--main-color);
  background: var(--sub-color);
  box-shadow: 2.5px 2.5px 0px 0px var(--main-color);

  text-decoration: none;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
  transition: all 0.2s ease;
}

.login-button:hover,
.signup-button:hover {
  color: var(--sub-color);
  background: var(--main-color);
}

.login-button:active,
.signup-button:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: none;
}
