.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5rem;
  margin: 1rem 6rem;
  gap: 2rem;

  border: 3px solid var(--main-color);
  background: var(--sub-color);
  box-shadow: 2.5px 2.5px 0px 0px var(--main-color);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
}

.email-container,
.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--main-color);
  animation: spin 1s ease infinite;
  margin: 1rem auto;
}

.loading-message {
  font-size: 1rem;
  text-align: center;
}
.error-message {
  color: red;
  font-size: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 1.2rem 2rem;
    margin: 1rem 4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .loading-message {
    font-size: 0.8rem;
    width: 80%;
  }
  .error-message {
    font-size: 0.8rem;
  }
}
