<h2>Welcome to Fika App</h2>
<p>Sign up or log in to see other users and send fika invitations.</p>
<LinkTo @route="login">
  <button type="button">Log in</button>
</LinkTo>
<LinkTo @route="signup">
  <button type="button">Sign up</button>
</LinkTo>
{{outlet}}